<!DOCTYPE html>
<html>

<head>
    <title>
        Google oauth app
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

    <h1 style="color: royalblue; font-size:larger font-weight:700;"> Google oath app </h1>

</body>

</html>